<h1 style="text-align: center;">All Users</h1>

<mat-form-field>
    <mat-label>Filter by Username</mat-label>
    <input matInput type="text" [(ngModel)]="filterValue"
    (input)="findByName(filterValue)" placeholder="Search Username">
</mat-form-field>

<div *ngIf="dataSource">
    <mat-table [dataSource]="dataSource.items">
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" (click)="navigateToProfile(row.id)"></mat-row>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.username}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.role}}</mat-cell>
        </ng-container>
    </mat-table>
    
    <mat-paginator 
        [length]="dataSource.meta.totalItems" 
        [pageSize]="dataSource.meta.itemsPerPage" 
        [pageSizeOptions]="[5,10,25,100]"
        (page)="pageEvent = $event; onPaginateChange($event)"
        showFirstLastButtons>
    </mat-paginator>
</div>