.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: center;
}

.card {
    width: 80%;
    max-width: 80%;
    height: 300px;
    margin-top: 2%;
    margin-left: 10%;
}